$base-dark: #000000;
$base-white:#FFFFFF;
$grey:      #F5F7F9;

$greyscale-50: #F7FAFC;
$greyscale-100:#EFF4F8;
$greyscale-200:#E2E8F0;
$greyscale-300:#CBD5E0;
$greyscale-400:#A0AEC0;
$greyscale-500:#718096;
$greyscale-600:#4A5568;
$greyscale-700:#2D3748;
$greyscale-800:#1A202C;
$greyscale-900:#090909;

$main-50:  #F2F7FE;
$main-100: #E5EFFE;
$main-200: #A4C8FB;
$main-300: #CCE0FD;
$main-400: #66A2F8;
$main-500: #3383F6;
$main-600: #1457FE;
$main-700: #1D3EBA;
$main-800: #15329E;
$main-900: #06033A;

$softred: #F16363;
$whatsapp-color: #25D366;

