.car{
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        gap: 32px;
    }
    &-column{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $base-white;
        box-shadow: 0px -1.3px 8.5px 0px rgba(225, 238, 255, 0.10), 0px 0.1px 0px 0px rgba(255, 255, 255, 0.40) inset;
        border-radius: 16px;
        padding: 20px 12px;
    }
    &-img{
        width: 290px;
        margin: 0 auto
    }
    &-title{
        font-size: 18px;
        line-height: 24px;
        font-weight: $font-weight-bold;
        color: $greyscale-900;
        border-top: 1px solid $greyscale-200;
        padding-top: 12px;
        margin: 8px 0 20px 0;
        text-align: center;
    }
    &-navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        gap: 8px;
        &-link{
            font-size: 14px;
            line-height: 20px;
            font-weight: $font-weight-medium;
            color: $greyscale-900;
            border: 1px solid $greyscale-900;
            border-radius: 20px;
            padding: 6px;
            text-align: center;
            text-decoration: none;
            transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
            &:hover{
                background-color: $greyscale-900;
                color: $base-white;
            }
        }
    }
    &-favorite{
        position: absolute;
        top: 12px;
        right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: $greyscale-900;
        border-radius: 50%;
        font-size: 20px;
        color: $base-white;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        &::after{
            content: "\F02D5";
            font-family: "Material Design Icons";
        }
        &:hover:not(.selected){
            color: $softred;
        }
        &.selected{
            color: $softred;
            &::after{
                content: "\F02D1";
            }
        }
    }
}
